# will remove later, but keeping tutorial.nf as sanity check
tutorial.nf
data/TB_DELETED/
data/test/
results/
temp_output/
visium_data_test/
visium_data_test_copy/
Tony_Readme.md

# Ignore files produced by nexflow
*.nextflow.log*
*html
*trace*txt
*.nextflow/
work/
.local
.config
.Rhistory
