// check reference from this stack overflow post: 
// https://stackoverflow.com/questions/66356045/overriding-nextflow-parameters-with-commandline-arguments

params {
    // parameters for preprocess step
    preprocess {
        MITO_THRESHOLD = 20
        // how to specify file?
        // if i specify an absolute path, is it automatically 
        // gonna be from the working directory?
        // thanks for helping me double check
        PATH_TO_SAMPLE = "data/temp_sample.rds"
    }

    // parameters for deconvolution step
    cell_deconvolution {
        MAX_LDA_K = 2
        RADIUS = 2
    }

    // no parameters for finding DEG step (for now)
    // parameters for pathways
    degs {
        PVAL_THRESH = 0.05
        SHOW_TERMS = 20
        NUMCHAR = 40
        ORDER_BY = "P.value"
    }
}


// specify custom container
profiles {
    docker {
        autoMounts              = true
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
} 
//docker.enabled = true
//docker.runOptions = '-u $(id -u):$(id -g)'
//docker.autoMounts = true

// process.container = "sleung124/spatial-pipeline:latest"
