params {
    // populate later
}

process {
    // fill in with containers
    withName:PREPROCESS_DATA {
        container = ...
    }

    withName:CELL_DECONVOLUTION {
        container = ...
    }

    withName:FIND_DEGS {
        container = ...
    }

    withName:FIND_PATHWAYS {
        container = ...
    }
}
