// check reference from this stack overflow post: 
// https://stackoverflow.com/questions/66356045/overriding-nextflow-parameters-with-commandline-arguments

params {
    // parameters for preprocess step
    preprocess {
        MITO_THRESHOLD = 20
        PATH_TO_SAMPLE = "visium_data/"
        FILTERED_FEATURE_H5 = "filtered_feature_bc_matrix.h5"
    }

    // parameters for deconvolution step
    cell_deconvolution {
        MAX_LDA_K = 5
        RADIUS = 2
    }

    // parameters for finding DEG step 
    degs {
        QUICK_SAMPLE = 0
        SET_SEED = 0
        PVAL_THRESH = 0.01
    }

    // parameters for pathways
    pathways {
        SHOW_TERMS = 20
        NUMCHAR = 40
        ORDER_BY = "P.value"
        SPECIES = "mouse" // either "mouse" or "human"
    }
}


// specify custom container
profiles {
    docker {
        autoMounts              = true
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }

    test {
        params {
        // parameters for preprocess step
        preprocess {
            MITO_THRESHOLD = 20
            PATH_TO_SAMPLE = "visium_data/"
            FILTERED_FEATURE_H5 = "filtered_feature_bc_matrix.h5"
        }

        // parameters for deconvolution step
        cell_deconvolution {
            MAX_LDA_K = 2
            RADIUS = 2
        }

        // parameters for finding DEG step 
        degs {
            QUICK_SAMPLE = 500
            SET_SEED = 42
            PVAL_THRESH = 0.01
        }
        
        // parameters for pathways
        pathways {
            SHOW_TERMS = 20
            NUMCHAR = 40
            ORDER_BY = "P.value"
            SPECIES = "mouse" // either "mouse" or "human"
        }
}
    }
} 

process {
    withContainer = true
    container = "sleung124/spatial-pipeline:latest"
}

